<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_recycle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/erecycle_logo_min"
        android:label="@string/app_name"
        android:roundIcon="@drawable/erecycle_logo_min"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Artigos_Activity"></activity>
        <activity android:name=".Voce_Sabia_Activity"></activity>
        <activity android:name=".Perfil_Usuario_Activity" />
        <activity android:name=".Coletores_Activity" />
        <activity android:name=".Pag_Menu_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro_Activity" />
        <activity android:name=".Splash_Activity"></activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>